<h1>Privacy Policy</h1>

<p>Welcome to New Era Lissoise's Privacy Policy</p>

<p>
  We use cookies to identify your computer or device to provide you with a better experience.
  If you access NEL after logging into your account, we record the IP address from which you access the site.
  You can choose to disable cookies in your browser, but you will not be able to log in or create an account.
</p>

<p>
  If you choose to create an account on NEL, we will collect the personally identifiable information you provide to us,
  including your name and email address. If you choose to create a profile, we will collect additional information such as
  your address and website that will be used to display on your publicly accessible directory profile. These data fields
  are optional and your profiles can be edited and deleted here.
</p>

<p>
  We do not knowingly contact or collect personal information from children under the age of 13. If you believe we have
  inadvertently collected this information, please contact us so we can promptly obtain parental consent or delete the
  information.
</p>

<p>
  We do not use or collect your precise geographic location. You may choose to voluntarily provide your address as part of a
  profile, which will be publicly displayed in the directory.
</p>

<p>
  You may choose to delete your account at any time by logging in and choosing the "Cancel Account" option. You may also
  contact us via email to request to view or delete this information.
</p>

<p>
  We delete personally identifiable information and other preferences associated with your account immediately upon deletion of
  your account. All website submissions and profiles associated with your account will also be deleted immediately.
</p>

<p>
  We do not share personally identifiable information, including your name and email address, with other companies for their
  marketing purposes.
</p>

<p>
  If you have any questions or concerns about our privacy policies, please contact us: newera@lissoise.com
</p>

<p>
  In order to serve you, we may share your personal and anonymous information with other companies, including vendors and
  contractors. Their use of the information is limited to these purposes and subject to agreements that require them to
  keep the information confidential. Our vendors warrant that they take reasonable steps to protect the data they hold on
  our behalf, although the security of the data cannot be guaranteed.
</p>

<p>
  We use Google Analytics, PostHog, and Fathom Analytics to help us understand how our services are used, but no personally
  identifiable data, including your name or email address, is shared. They use this data only on our behalf. They do not
  share it except in aggregate form; no data is shared about an individual user. Click to view the
  <a href="https://policies.google.com/privacy" target="_blank">Google Analytics Privacy Policy</a>,
  <a href="https://posthog.com/privacy" target="_blank">PostHog Privacy Policy</a>, and
  <a href="https://usefathom.com/privacy" target="_blank">Fathom Privacy Policy</a>. You can view Google's GDPR page
  <a href="https://privacy.google.com/businesses/compliance" target="_blank">here</a>, PostHog's compliance information
  <a href="https://posthog.com/data-privacy" target="_blank">here</a>, and Fathom's GDPR compliance
  <a href="https://usefathom.com/gdpr" target="_blank">here</a>.
</p>

<p>
  In order to send the weekly newsletter, occasional news updates, and all transactional emails, we use a third-party service
  called Postmark. Only your name and email address will be shared and will be used for the sole purpose of sending emails.
  You can view Postmark’s privacy policy
  <a href="https://postmarkapp.com/privacy" target="_blank">here</a>. You can choose to unsubscribe from the weekly
  newsletter and news updates by unchecking the appropriate box in your user profile. Postmark’s GDPR page can be viewed
  <a href="https://postmarkapp.com/gdpr" target="_blank">here</a>.
</p>

<p>
  We take reasonable steps to secure your personally identifiable information from unauthorized access or disclosure. Your data
  is securely stored on Heroku’s infrastructure, which maintains its own security and privacy standards. You can view
  Heroku’s privacy policy
  <a href="https://www.heroku.com/policy/privacy" target="_blank">here</a> and their detailed privacy statement
  <a href="https://www.heroku.com/policy/security" target="_blank">here</a>. However, no security or encryption method can
  guarantee the protection of information from hackers or human error.
</p>

<p>
  We may make identifiable and anonymous information available to any successor or purchaser in connection with a merger,
  acquisition, liquidation, dissolution, or sale of assets. We will attempt to notify you of this, to the extent permitted by
  law.
</p>

<p>
  This Privacy Policy was last updated on March 19, 2024.
</p>
