<p>Hello,</p>

<p>You have received a new message via the contact form:</p>

<p><strong>Name:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Message:</strong></p>
<p><%= @message %></p>

<p>Have a nice day!</p>